<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link th:href="@{../static/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar/Navbar -->
        <nav class="col-md-3 col-lg-2 d-md-block sidebar">
            <!-- Logo -->
            <div>
                <img class="img-fluid" th:src="@{./static/images/warehouse_logo.png}"/>
            </div>

            <!-- Links -->
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/users}">Users</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/products}">Products</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/sales}">Sales</a></li>
            </ul>

            <!-- Sign-in and Sign-up buttons -->
            <div sec:authorize="!isAuthenticated()" class="mt-auto">
                <button class="btn btn-primary btn-sm btn-block" type="button"
                        onclick="window.location.href = '/signin'">
                    Sign In
                </button>
                <button class="btn btn-primary btn-sm btn-block mt-2" type="button"
                        onclick="window.location.href = '/signup'">
                    Sign Up
                </button>
            </div>

            <div sec:authorize="isAuthenticated()">
                <a class="btn btn-info" th:href="@{/profile}"><span sec:authentication="principal.name"></span></a>
                <form action="/logout" method="post">
                    <button type="submit" style="text-align: center; width: 100%"
                            class="btn btn-primary btn-sm btn-block mt-2">
                        Logout
                    </button>
                </form>
            </div>
        </nav>

        <!-- Content -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 content">
            <table class="table table-bordered">
                <tr align="center">
                    <td>Users: <br> <strong th:text="${users.size()}"></strong></td>
                    <td>Categories: <br><strong th:text="${categories.size()}"></strong></td>
                    <td>Products: <br><strong th:text="${products.size()}"></strong></td>
                    <td>Sales: <br><strong th:text="${sales.size()}"></strong></td>
                </tr>
            </table>
            <h2>Top 5 Most Sold Products</h2>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Total Amount Left</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${mostSoldProducts}">
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.price}">
                    </td>
                    <td th:text="${product.quantity}"></td>
                </tr>
                <tr th:if="${mostSoldProducts.size() == 0}">
                    <td colspan="3">No data available</td>
                </tr>
                </tbody>
            </table>


            <!-- Add this code to display the last 3 sales -->
            <h2>Last 3 Sales</h2>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Total Sale</th>
                    <th>Total cost</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sale : ${last3Sales}">
                    <td>
                        <a th:href="@{/sale/{id}(id=${sale.id})}"><p th:text="${sale.getSaleTitle()}"></p></a>
                    </td>
                    <td th:text="${sale.saleDate}"></td>
                    <td th:text="${sale.saleProducts.size()}"></td>
                    <td th:text="${sale.getTotalSaleAmount()}"> USD</td>
                </tr>
                <tr th:if="${#lists.isEmpty(last3Sales)}">
                    <td colspan="3">No data available</td>
                </tr>
                </tbody>
            </table>


        </main>


    </div>
</div>
</body>
</html>
