<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link th:href="@{../static/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar/Navbar -->
        <nav class="col-md-3 col-lg-2 d-md-block sidebar">
            <!-- Logo -->
            <div>
                <img class="img-fluid" th:src="@{./static/images/warehouse_logo.png}"/>
            </div>

            <!-- Links -->
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/users}">Users</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/products}">Products</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/sales}">Sales</a></li>
            </ul>

            <!-- Sign-in and Sign-up buttons -->
            <div sec:authorize="!isAuthenticated()" class="mt-auto">
                <button class="btn btn-primary btn-sm btn-block" type="button"
                        onclick="window.location.href = '/signin'">
                    Sign In
                </button>
                <button class="btn btn-primary btn-sm btn-block mt-2" type="button"
                        onclick="window.location.href = '/signup'">
                    Sign Up
                </button>
            </div>
            <div sec:authorize="isAuthenticated()">
                <a class="btn btn-info" th:href="@{/profile}"><span sec:authentication="principal.name"></span></a>
                <form action="/logout" method="post">
                    <button type="submit" style="text-align: center; width: 100%"
                            class="btn btn-primary btn-sm btn-block mt-2">
                        Logout
                    </button>
                </form>
            </div>
        </nav>

        <!-- Content -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 content">
            <div class="form-group">
                <label for="category">Select Category:</label>
                <select class="form-control" id="category" name="category" onchange="filterProducts()">
                    <option value="">All Categories</option>
                    <th:block th:each="category : ${categories}">
                        <option th:value="${category.name}" th:text="${category.name}"></option>
                    </th:block>
                </select>
            </div>
            <h3>Products List</h3>
            <a sec:authorize="hasAuthority('MANAGER') or hasAuthority('ADMIN')" th:href="@{/products/create}"
               class="btn btn-primary btn-sm mb-3">Add Product</a>
            <table style="width:80%" border="1" class="table table-striped table-responsive-md">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Owner</th>
                    <th>Price</th>
                    <th>Photo</th>
                    <th>Category</th>
                    <th sec:authorize="hasAuthority('ADMIN')">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}" th:if="${product.quantity > 0}">
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.description}"></td>
                    <td th:text="${product.quantity}"></td>
                    <td>
                        <a th:href="@{/user/{id}(id=${product.user.id})}">
                            <p th:text="${product.user.name}"></p>
                        </a>
                    </td>
                    <td th:text="${product.price}">USD</td>
                    <td>
                        <img th:if="${product.imageId == null}" height="60px" width="100px"
                             src="https://media.tenor.com/yheo1GGu3FwAAAAd/rick-roll-rick-ashley.gif"
                             style="width: 100px; height: 100px;"/>
                        <img th:if="${product.imageId != null}" height="60px" width="100px"
                             th:src="@{/images/{id}(id=${product.imageId})}"
                             style="width: 100px; height: 100px;"/>
                    </td>
                    <td class="product-category" th:each="prcategory : ${product.category}">
                        <span th:if="prcategory == null">No Category</span>
                        <span th:if="prcategory != null" th:text="${prcategory}"></span>
                    </td>
                    <td sec:authorize="hasAuthority('ADMIN')" class="category-id">
                        <a th:href="@{/product/{id}/edit(id=${product.id})}" class="btn btn-primary"
                           style="display: inline-block; margin-right: 10px;">Update</a>
                        <form th:action="@{/product/__${product.id}__/delete}" method="post"
                              style="display: inline-block;">
                            <button type="submit" class="btn btn-danger">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </main>
    </div>
</div>
<!-- JavaScript to filter products based on category selection -->
<script>
    function filterProducts() {
        var categoryId = document.getElementById("category").value;
        var rows = document.querySelectorAll("tbody tr");

        rows.forEach(function(row) {
            var categoryCell = row.querySelector(".product-category").textContent;

            if (categoryId === "" || categoryCell.includes(categoryId)) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        });
    }
</script>
</body>
</html>
